@import "../index.scss";


* {
  box-sizing: border-box;
}

body {
  margin: initial;

  font-family: ui-serif, system-ui, sans-serif;
}

p {
  font-size: 0.8em;
  text-align: justify;
}

main {
  margin: auto;

  @include mq-func((
    500px: (width: 464px, font-size: 15px),
    600px: (width: 528px, font-size: 16px),
    1000px: (width: 660px, font-size: 20px),
  ), $const-upper: true);
}


path {
  fill: none;

  stroke-linecap: round;
  stroke-linejoin: round;
}

.axes {
  stroke: #ccc;
  stroke-width: 0.3;
}

.ticks {
  dominant-baseline: central;
  fill: #aaa;
  font-size: 3px;
  text-anchor: middle;
}

.series {
  stroke: black;
  stroke-width: 0.4;
}

circle {
  fill: red;
}
