@use "sass:math";


@mixin mq-func-props($leftWidth, $leftProps, $rightWidth, $rightProps) {
  $keys: map-keys($leftProps);

  @each $name in $keys {
    $leftValue: map-get($leftProps, $name);
    $rightValue: map-get($rightProps, $name);

    $slope: math.div($rightValue - $leftValue, $rightWidth - $leftWidth);

    @if $slope == 0 {
      #{$name}: $leftValue;
    } @else {
      #{$name}: calc(#{$slope * 100vw} + #{$leftValue - $slope * $leftWidth});
    }
  }
}

@mixin mq-func($breakpoints, $query: "width", $const-lower: false, $const-upper: false) {
  $values: map-keys($breakpoints);
  $props: map-values($breakpoints);

  @for $i from 1 through length($values) {
    $first: $i == 1;
    $last: $i == length($values);

    $leftValue: nth($values, $i);
    $leftProps: nth($props, $i);

    @if $first and $const-lower {
      @include mq-func-props($leftValue - 1px, $leftProps, $leftValue, $leftProps);
    }

    $rightValue: $leftValue + 1px;
    $rightProps: $leftProps;

    @if not $last {
      $rightValue: nth($values, $i + 1);
      $rightProps: nth($props, $i + 1);
    }

    @if $first and not $const-lower {
      @include mq-func-props($leftValue, $leftProps, $rightValue, $rightProps);
    } @else if not $last or $const-upper {
      @media (min-#{$query}: $leftValue) {
        @include mq-func-props($leftValue, $leftProps, $rightValue, $rightProps);
      }
    }
  }
}
